.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note{
    font-size: 15px;
    color: white;
}

.copy_right_footer{
    position: fixed;
    color: white;
    line-height:3 ;
    text-align: center;
    background-color: skyblue;
    bottom: 0;
    width:100%;
}

canvas{
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 10px 10px 10px skyblue;
}